<!DOCTYPE html>
<!--Created November 30, 2014 by Christian Seremetis and Daniel Greenberg-->
<html>
     <head>
        <title>Review an Item</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="row">
                       <div class="col-md">
                        <p class="navbar-text navbar-left">
                             <a href="/" class="navbar-link">Home</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="about" class="navbar-link">About</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="ExistingReviews" class="navbar-link">See Existing Reviews</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="CreateReview" class="navbar-link">Review An Item</a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md text-center">
                    <h1>Recent Reviews</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md text-center">
                    <h2>Please Give the Name and Rating of Your Product:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center">
                    <p class="inputLabel">Product Name:</p>
                </div>
            </div>

            <!--this is where the user can input the product name and review-->
            <div class="row">
                <form class="input" action="/CreateReview" method="POST">
                    <div class="col-md text-center">
                        <input type="text" name="productName">
                    </div>
                    <div class="col-md text-center">
                        <p class="inputLabel">Rating:</p>
                        <input type="radio" name="rating" value="a" checked><label for="a"><img src="photos/happy5.png" class="img-circle"></label>
                        <input type="radio" name="rating" value="b" checked><label for="b"><img src="photos/happy3.png" class="img-circle"></label>
                        <input type="radio" name="rating" value="c" checked><label for="c"><img src="photos/happy6.png" class="img-circle"></label>
                        <input type="radio" name="rating" value="d" checked><label for="d"><img src="photos/happy1.png" class="img-circle"></label>
                        <input type="radio" name="rating" value="e" checked><label for="e"><img src="photos/happy4.png" class="img-circle"></label>
                        <input type="radio" name="rating" value="f" checked><label for="f"><img src="photos/happy2.png" class="img-circle"></label>
                    </div>
                    <br>
                    <br>
                    <div class="col-md text-center">
                        <input type="Submit" value="Create New Review">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </body>
</html>






