<!DOCTYPE html>

<html>
     <head>
        <title>Review an Item</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="about" class="navbar-link">Home</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="ExistingReviews" class="navbar-link">See Existing Reviews</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="CreateReview" class="navbar-link">Review an Item</a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md text-center">
                    <h1>Recent Reviews</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md text-center">
                    <h2>Please Give the Name and Rating of Your Product:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center">
                    <p class="inputLabel">Product Name:</p>
                </div>
            </div>

            <!--this is where the user can input the product name and review-->
            <div class="row">
                <form class="input" action="/CreateReview" method="POST">
                    <div class="col-md text-center">
                        <input type="text" name="productName">
                    </div>
                    <div class="col-md text-center">
                        <p class="inputLabel">Rating:</p>
                        <input type="radio" name="rating" value="Outstanding" checked><img src="photos/happy5.png" class="img-circle">
                        <input type="radio" name="rating" value="above_average" checked><img src="photos/happy3.png" class="img-circle">
                        <input type="radio" name="rating" value="average" checked><img src="photos/happy6.png" class="img-circle">
                        <input type="radio" name="rating" value="below-average" checked><img src="photos/happy1.png" class="img-circle">
                        <input type="radio" name="rating" value="poor" checked><img src="photos/happy4.png" class="img-circle">
                        <input type="radio" name="rating" value="horrible" checked><img src="photos/happy2.png" class="img-circle">
                    </div>
                    <br>
                    <br>
                    <div class="col-md text-center">
                        <input type="Submit">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </body>
</html>






