<!DOCTYPE html>

<!--created November 30, 2014 by Christian Seremetis and Daniel Greenberg-->

<html>
    <head>
        <title>Existing Reviews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                             <a href="about" class="navbar-link">Home</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="ExistingReviews" class="navbar-link">See Existing Reviews</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                             <a href="CreateReview" class="navbar-link">Review an Item</a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <h1>Recent Reviews</h1>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md text-centered">

                    <!--creates buttons for each review, which redirects the user to the ReviewTemplate page-->
                    
                    <%@reviews.each do |review|%>
                    <form class="input" action="/UpdateReview" method="POST">
                        <p>
                            <input type="button" class="updateButtons" value=<%=review[1]["productName"]%>>
                            <%end%>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>






