<!DOCTYPE html>

<!--created November 30, 2014 by Christian Seremetis-->

<html>
    <head>
        <title>Existing Reviews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="row">

                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                             <a href="/" class="navbar-link">Home</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                             <a href="about" class="navbar-link">About</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="ExistingReviews" class="navbar-link">See Existing Reviews</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                             <a href="CreateReview" class="navbar-link">Review A New Item</a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <h1 id="existing">Recent Reviews</h1>
            </div>
            <br>
            <br>
            <div class="row">

                <div class="col-md" id="view">

                    <!--allows for a user to search a specific item to see reviews for-->

                    <p>Search And View Our Reviews Here!</p>
                    <form class="input" action="/UpdateReview" method="POST">
                        <input type="text" name="name">
                        <input type="submit" value="View Item">
                    </form>

                </div>

                <br>
                <br>

                <div class="col-md text-centered">
                        <%@reviews.each do |a|%>
                        <div class="col-md">
                            <h3><%=(a[1]["productName"]).capitalize%><h3>
                        </div>     
                        <%end%>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>






