<!DOCTYPE html>

<!--created November 30, 2014 by Christian Seremetis-->

<html>
    <head>
        <title>home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="row">
                    <p class="navbar-text navbar-left">
                        <a href="/" class="navbar-link">Home</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="ExistingReviews" class="navbar-link">See Existing Reviews</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="CreateReview" class="navbar-link">Review A New Item</a>
                    </p>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md text-center">
                    <h1>Welcome to Recent Reviews!</h1>
                </div>  
            </div>
            <div class="row">
                <div class="col-md text-center">
                    <img src="photos/happy5.png" class="img-circle">
                    <img src="photos/happy3.png" class="img-circle">
                    <img src="photos/happy6.png" class="img-circle">
                    <img src="photos/happy1.png" class="img-circle">
                    <img src="photos/happy4.png" class="img-circle">
                    <img src="photos/happy2.png" class="img-circle">
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center">
                    <h3>"Hope is a superpower"</h3>
                    <h3>Review anything you want!</h3>
                    <div class="btn-group" role="group" id="button1">
                        <a href="ExistingReviews">
                            <button type="button" class="btn btn-default">
                                See Existing reviews
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-md text-center">
                    <h2>OR</h2>
                </div>
                
                <div class="col-md text-center">
                    <div class="btn-group" role="group">
                        <a href="CreateReview">
                            <button type="button" class="btn btn-default">
                                Create a New Review
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>






