<!DOCTYPE html>

<!--created December 3, 2014 by Christian Seremetis-->
<!--this is used to view and update existing reviews-->
<html>
    <head>
        <title>Recent Reviews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                             <a href="about" class="navbar-link">Home</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                            <a href="ExistingReviews" class="navbar-link">See Existing Reviews</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p class="navbar-text navbar-left">
                             <a href="CreateReview" class="navbar-link">Review A New Item</a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <h1><%=@name%></h1>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md text-centered">
                     <h2 class="viewed_reviews">
                            <%if @name==nil%>
                                <p>The Product you searched does not exist. Please reword your search and try again</p>
                                <img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/8/babyzone/2013/04/baby-boy-crying-photo-420x420-ts-56570356.jpg" id="baby">
                            <%else%>
                                <div class="faces">             
                                <img src="photos/happy5.png" class="img-circle">
                                <img src="photos/happy3.png" class="img-circle">
                                <img src="photos/happy6.png" class="img-circle">
                                <img src="photos/happy1.png" class="img-circle">
                                <img src="photos/happy4.png" class="img-circle">
                                <img src="photos/happy2.png" class="img-circle">
                            </div>
                            <br>

                            <!--this is where the numbers for existing reviews are displayed-->
                            <%mutableReviews = @opinion.values%>
                            <%mutableReviews.each do |reviews|%>
                            <%=reviews%>
                            <%end%>
                        
                    </h2>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <form class="input" action="AddReview" method="POST" id="updateButton">
                    <input type="submit" value="Review This Item">
                </form>
            </div>
            <%end%>
        </div>  
    </body>
</html>






