/*style sheets for Recent Reviews*/

.img-circle{
	height: 100px;
	width: 100px;
}

body{
    background-color: gray;
    padding-top: 70px;
}

h1{
    color: blue;
}

#button1{
    padding-top: 100px;
}

#navbar{
    height: 20px;
}

.inputLabel{
    padding-top: 100px;
}







