/*style sheets for Recent Reviews*/
/*created November 30, 2014 by Christian Seremetis and Daniel Greenberg*/

body{
  padding-top: 70px;
  background: url(http://d13pix9kaak6wt.cloudfront.net/background/webdesign_1338484318_44.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

h1{
  text-align: center;
}


.input{
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.inputLabel{
    padding-top: 100px;
    font-size: 20px;
    color: white;
}

.img-circle{
    height: 100px;
    width: 100px;
}

.viewed_reviews{
  text-align: center;
}

#button1{
   padding-top: 100px;
}

#navbar{
    height: 20px;
}

#baby{
  text-align: center;
}

#opinions{
  text-align: center;
}

#updateButton{
  text-align: center;
}

#existing{
  text-align: left;
}






