/*style sheets for Recent Reviews*/
/*created November 30, 2014 by Christian Seremetis*/

body{
  padding-top: 70px;
  background: url(http://www.fovitec.com/images/Product/large/SP40-044.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

h1{
  text-align: center;
}

/*all columns*/
.col-md{
  padding-bottom: 20px;
}

/*input text boxes for creating new reviews*/
.input{
  color: black;
  font-family: 'Open Sans', sans-serif;
}

/*labels for input fields*/
.inputLabel{
    padding-top: 100px;
    font-size: 20px;
    color: white;
}

/*wong-baker pictures*/
.img-circle{
    height: 110px;
    width: 110px;
}

/*review labels on ReviewTemplate page*/
.viewed_reviews{
  text-align: center;
}

/*h1 label on ReviewTemplate page*/
.review_label{
  padding-bottom: 150px;
}

/*pretty self-explanatory*/
#navbar{
    height: 20px;
}

/*baby picture for default page*/
#baby{
  text-align: center;
  height: 400px;
}

/*button on ReviewTemplate form asking if the user wants to update the product reviews*/
#updateButton{
  text-align: center;
  font-size: 20px;
  width: 400px;
  height: 40px; 
  margin-top: 50px;
}

#existing{
  text-align: left;
}

#opinions{
  text-align: center;
}

#button1{
   padding-top: 100px;
}



